.card {
  background: rgb(5, 5, 5);
  /* background-size:cover;
  background-position:50%; */
  border-radius: 10px;
  margin: 5px;  
  width: 20%;
}

.card > .img-container {
  margin: 5px;
  background:rgb(13, 13, 14);
}
.card > .img-container > img {
  
   width: 100%;
 }







