

.container{
  display:flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

body{
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjlkIXBxd_cAhXImq0KHfQFB4gQjRx6BAgBEAU&url=http%3A%2F%2Fwww.kissojapaneserestaurant.com%2F&psig=AOvVaw1-zM1ccoTfW_5SxCUV0KzU&ust=1533889383821473");
}
